# 1. Importing data set

In [ ]:
import pandas
import numpy
import seaborn

Importing the csv file as data

In [5]:
data = pandas.read_csv("user_behavior_dataset_task1.csv")

# 2. Reading the imported data set

Pandas command to print out the number of unique values for different data variables.

In [13]:
data.nunique()

User ID                       671
Device Model                    5
Operating System                2
App Usage Time (min/day)      380
Screen On Time (hours/day)    107
Battery Drain (mAh/day)       596
Number of Apps Installed       86
Data Usage (MB/day)           560
Age                            42
Gender                          2
User Behavior Class             5
dtype: int64

We can conclude from above that our data set contains behaviour of smartphone users accross 5 different smartphone models. We can also conclude that each user is assigned a behaviour class from 1-5.

# 3. Cleaning the data

Checking for null values

In [14]:
data.isnull().sum()

User ID                        0
Device Model                   2
Operating System               0
App Usage Time (min/day)       8
Screen On Time (hours/day)    11
Battery Drain (mAh/day)       12
Number of Apps Installed      13
Data Usage (MB/day)            7
Age                           10
Gender                         0
User Behavior Class            0
dtype: int64

Dropping the records with null values.

In [16]:
data = data.dropna(axis = 0)

User ID                       0
Device Model                  0
Operating System              0
App Usage Time (min/day)      0
Screen On Time (hours/day)    0
Battery Drain (mAh/day)       0
Number of Apps Installed      0
Data Usage (MB/day)           0
Age                           0
Gender                        0
User Behavior Class           0
dtype: int64

Checking how many users dropped.

In [18]:
data.nunique()

User ID                       615
Device Model                    5
Operating System                2
App Usage Time (min/day)      361
Screen On Time (hours/day)    107
Battery Drain (mAh/day)       563
Number of Apps Installed       86
Data Usage (MB/day)           525
Age                            42
Gender                          2
User Behavior Class             5
dtype: int64

We can see that 56 users have been removed as they contained null values.

# 4. Visualising the data