<a href="https://colab.research.google.com/github/Rishit003/BDCE-ML-Task-1/blob/main/BDCE_ML_Task_1_Rishit_Singh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Machine Learning Task - 1**
## By Rishit Singh - 2313103

### 1. Importing the data set

Importing the pandas, numpy and seaborn packages

In [3]:
import pandas
import numpy
import seaborn

Importing the csv file as data

In [5]:
data = pandas.read_csv("user_behavior_dataset_task1.csv")

### 2. Initial impressions of the given data set

Viewing some data

In [11]:
print(data.head())
print(data.tail())
print(data.describe())

   User ID    Device Model Operating System  App Usage Time (min/day)  \
0        1  Google Pixel 5          Android                     393.0
1        2       OnePlus 9          Android                     268.0
2        3    Xiaomi Mi 11          Android                     154.0
3        4  Google Pixel 5          Android                     239.0
4        5       iPhone 12              iOS                     187.0

   Screen On Time (hours/day)  Battery Drain (mAh/day)  \
0                         6.4                   1872.0
1                         4.7                   1331.0
2                         4.0                    761.0
3                         4.8                   1676.0
4                         4.3                   1367.0

   Number of Apps Installed  Data Usage (MB/day)   Age  Gender  \
0                      67.0               1122.0  40.0    Male
1                      42.0                944.0  47.0  Female
2                      32.0                322.0  42.0    Male
3                      56.0                871.0  20.0    Male
4                      58.0                988.0  31.0  Female

   User Behavior Class
0                    4
1                    3
2                    2
3                    3
4                    3
     User ID        Device Model Operating System  App Usage Time (min/day)  \
692      693        Xiaomi Mi 11          Android                     378.0
694      695  Samsung Galaxy S21          Android                     564.0
695      696           iPhone 12              iOS                      92.0
697      698      Google Pixel 5          Android                      99.0
698      699  Samsung Galaxy S21          Android                      62.0

     Screen On Time (hours/day)  Battery Drain (mAh/day)  \
692                         6.7                   1898.0
694                         9.7                   2422.0
695                         3.9                   1082.0
697                         3.1                    942.0
698                         1.7                    431.0

     Number of Apps Installed  Data Usage (MB/day)   Age  Gender  \
692                      78.0               1455.0  48.0  Female
694                      83.0               1985.0  34.0  Female
695                      26.0                381.0  22.0    Male
697                      22.0                457.0  50.0  Female
698                      13.0                224.0  44.0    Male

     User Behavior Class
692                    4
694                    5
695                    2
697                    2
698                    1
          User ID  App Usage Time (min/day)  Screen On Time (hours/day)  \
count  640.000000                640.000000                  640.000000
mean   342.554688                273.921875                    5.336719
std    204.160260                177.725792                    3.060799
min      1.000000                 30.000000                    1.000000
25%    172.750000                119.000000                    2.675000
50%    341.500000                228.500000                    5.000000
75%    511.250000                441.250000                    7.400000
max    699.000000                598.000000                   12.000000

       Battery Drain (mAh/day)  Number of Apps Installed  Data Usage (MB/day)  \
count               640.000000                640.000000           640.000000
mean               1541.690625                 51.110937           943.243750
std                 813.010943                 26.840663           644.935631
min                 302.000000                 10.000000           103.000000
25%                 747.000000                 27.750000           392.750000
50%                1530.000000                 49.500000           842.000000
75%                2243.250000                 75.000000          1363.000000
max                2993.000000                 99.000000          2497.000000

              Age  User Behavior Class
count  640.000000           640.000000
mean    38.428125             3.020313
std     12.063778             1.394566
min     18.000000             1.000000
25%     28.000000             2.000000
50%     38.000000             3.000000
75%     49.000000             4.000000
max     59.000000             5.000000

Pandas command to print out the number of unique values for different data variables.

In [13]:
data.nunique()

User ID                       671
Device Model                    5
Operating System                2
App Usage Time (min/day)      380
Screen On Time (hours/day)    107
Battery Drain (mAh/day)       596
Number of Apps Installed       86
Data Usage (MB/day)           560
Age                            42
Gender                          2
User Behavior Class             5
dtype: int64

We can conclude from above that our data set contains behaviour of smartphone users accross 5 different smartphone models. We can also conclude that each user is assigned a behaviour class from 1-5.

### 3. Cleaning the data set

Checking for null values

In [6]:
data.isnull().sum()

User ID                        0
Device Model                   2
Operating System               0
App Usage Time (min/day)       8
Screen On Time (hours/day)    11
Battery Drain (mAh/day)       12
Number of Apps Installed      13
Data Usage (MB/day)            7
Age                           10
Gender                         0
User Behavior Class            0
dtype: int64

Checking how many user entries are containg null values.

In [7]:
clean_data = data.dropna(axis = 0)

In [8]:
clean_data.nunique()

User ID                       615
Device Model                    5
Operating System                2
App Usage Time (min/day)      361
Screen On Time (hours/day)    107
Battery Drain (mAh/day)       563
Number of Apps Installed       86
Data Usage (MB/day)           525
Age                            42
Gender                          2
User Behavior Class             5
dtype: int64

We can see that there are 56 user entries which has  null values. Since the number is pretty low, it will not effect our analysis when dropped.

In [9]:
data=clean_data

### 4. Visualising the data set